<div class="home-wrapper">
	<div id="banner">
		<h1>Welcome to the Bay Area Ski Bus Host Portal</h1>
		<h3>This is a tool designed to help you during your time as a host.</h2>
		<h3>Select from one of the options below:</h3>
	</div>
	
	<br>
	<br>
	<div class="row" id="options">
		<%= link_to "Guest Check-in", checkin_path, class: "large button" %>
		<ul id="checkin-list-items">
			<li>Use this section to check guests in at the beginning and end of each trip.</li>
			<li>Be sure to have a copy on your device of the Excel sheet containing the trip roster handy.</li>
		</ul>
		<br>
		<%= link_to "Guest Registration", registration_path, class: "large button" %>
		<ul id="registration-list-items">
			<li>Use this section to register new guests for a trip.</li>
			<li>Payment, guest information, and waiver releases can be found here.</li>
		</ul>
	</div>
</div>



