<div class="trips-wrapper">
	<div class="row">
		<h2 id="trips-banner">Guest Check-in</h2>
		<p>Select your trip from the list below and you'll be good to start checking guests in!</p>

		<% @trips.each do |trip| %>
			<ul>
        <li>
          <%= link_to trip.name, trip %>
          <%= trip.departure_date %>
        </li>
      </ul>
		<% end %>
	</div>
</div>

