<style>
	footer {
		position: fixed;
	  bottom: 5px;
	  right: 5px;
	}
</style>

<footer>
	A project by <a href="http://twitter.com/jcap49">John Capecelatro</a>. © 2013
	<a href="mailto:jcapecelatro@gmail.com">Send Feedback</a>
</footer>