<style>
	img {
		top: 10px;
		margin-left: 420px;
		height: 112.5px;
		width: 150px;
	}
</style>
<div class="row">
	<%= link_to image_tag("basblogo.png"), root_url, alt: "SkiBusLogo", class: "logo" %>
</div>
